/* .bg-pic{
    background: url('https://unicoderbd.com/theme/html/chaka/assets/images/slider/slider_bg.png');
    background-repeat: no-repeat;
    background-position: cover;
    
} */
.text-style{
    font-size: 50px;
}