.bg-pic{
    background-image: url('http://html.webqoda.com/mobeva/images/home-two-slider-1.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    opacity: 0.9;
    
   
    height: 100vh;
    
}

